*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #fff;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #b4b4b4;
    box-shadow: 2px 3px 7px 5px #62626254;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    font-size: 20px;
}

.navbar-left{
    margin-left: 50px;
}

.navbar-left .navbar-brand{
    text-decoration: none;
    justify-content: center;
}

.input-group{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border: 1px solid #000;
    border-radius: 20px;
    width: 300px;
    height: 25px;
    padding: 20px;
    
}

.input-group .form-control{
    border: none;
    outline: none;
    margin: 0 auto;
    font-size: 15px;
}

.input-group .input-group-append{
    border-left: 1px solid #000;
    padding: 10px;
}

.input-group-append .btn-outline-secondary{
    all: unset;
}

.navbar-right{
    display: flex;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}

.navbar-right .login,.register{
    margin-right: 40px;
}
